/* Body styles */
body {
  display: flex;
  font-size: 1rem;
}

.title {
  text-align: center;
}

h3,
h4 {
  font-weight: normal;
}

h3:first-of-type {
  margin-top: 124px;
}

/* Img styles */
.hero {
  text-align: center;
  margin: 32px 0 48px;
}

.hero img {
  margin: 12px 0;
}

.hero figcaption {
  font-size: 0.8rem;
  margin: 0 25%;
}

section {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

article {
  position: relative;
  margin-bottom: 24px;
}

/* Feature: tooltip on hover */
span {
  position: relative;
}

/* Styling box */
[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  margin-bottom: 1.2rem;
  bottom: 0;
  display: block;
  font-size: 0.8rem;
  opacity: 0;
  width: 50vw;
  transition: all 0.15s ease;
  padding: 12px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
  z-index: 2;
}

/* Change opacity of box on hover */
[data-tooltip]:hover:before {
  opacity: 1;
  background: black;
  color: white;
}

/* Stops the tooltip from flickering */
[data-tooltip]::before {
  pointer-events: none;
}
