/* Body styles */
body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background-color: whitesmoke;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  background-color: #333;
  color: whitesmoke;
  text-align: center;
}

.title-heading {
  margin: auto;
}

.title-heading h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: auto;
}

@media (min-width: 700px) {
  .title-heading h1 {
    font-size: 2rem;
    width: 30ch;
  }
}

.title-heading h2 {
  font-variant-caps: small-caps;
}

h3,
h4 {
  font-weight: normal;
}

h3:first-of-type {
  margin-top: 4rem;
}

p {
  width: 40ch;
  margin: auto;
  line-height: 2rem;
}

@media (min-width: 900px) {
  p {
    width: 69ch;
  }
}

.first-paragraph:first-line {
  font-variant-caps: small-caps;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

/* Img styles */
.hero {
  text-align: center;
  margin: 32px 0 48px;
}

.hero img {
  margin: 12px 0;
}

@media (max-width: 500px) {
  .hero img {
    width: 80%;
  }
}

.hero figcaption {
  font-size: 0.8rem;
  margin: 0 25%;
}

section {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

article {
  position: relative;
  margin-bottom: 24px;
}

/* Feature: tooltip on hover */
span {
  position: relative;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
span:hover {
  text-decoration: none;
  box-shadow: inset 0 0px 10px 10px rgba(0, 0, 0, 1);
  color: white;
  transition: all 0.5s ease-in-out;
}
/* Styling box */
[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  margin-bottom: 1.2rem;
  bottom: 0;
  display: block;
  font-size: 0.8rem;
  opacity: 0;
  width: 82ch;
  transition: all 0.15s ease;
  padding: 12px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
  z-index: 2;
}

@media (max-width: 990px) {
  [data-tooltip]::before {
    width: 47ch;
  }
}

/* Change opacity of box on hover */
[data-tooltip]:hover::before {
  opacity: 1;
  background: black;
  color: white;
}

/* Stops the tooltip from flickering */
[data-tooltip]::before {
  pointer-events: none;
}

footer {
  font-size: 0.9rem;
  text-align: center;
  height: 40vh;
  width: 80%;
  margin: auto;
}
