body {
  display: flex;
  margin: 40px 0;
}

section {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
  padding-bottom: 20px;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
}

article {
  position: relative;
}

.tooltip {
  box-shadow: 0px 5px 5px 0px rgba(238, 255, 0, 0.7);
  transition: all 0.1s ease-in-out;
}
.tooltip:hover {
  background-color: rgba(238, 255, 0, 0.4);
  box-shadow: 0px 0px 5px 2px rgba(238, 255, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.tooltiptext-one {
  opacity: 0;
  width: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin: auto;
  padding: 12px;

  /* Position the tooltip */
  position: absolute;
  top: -20%;
  right: -15%;
  z-index: 1;
  /* transition: opacity 0.1s ease-in; */
}

.tooltip-one:hover .tooltiptext-one {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.tooltiptext-two {
  display: none;
  opacity: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  margin: auto;
  padding: 12px;
}

.tooltiptext-two-visible {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-three {
  box-shadow: 0px 5px 5px 0px rgba(238, 255, 0, 0.7);
}

.tooltip-three::after {
  content: " 1";
  font-size: 12px;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.note {
  font-size: 12px;
}

.note::before {
  content: " 1";
  font-size: 12px;
}
